{% if users_admin_uses_ansible is boolean and users_admin_uses_ansible %}
Defaults:{{ users_admin_group }} !requiretty
{% endif %}
%{{ users_admin_group }} ALL = (ALL) {% if users_admin_sudo_password is boolean and not users_admin_sudo_password %}NOPASSWD:{% endif %} ALL